<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <title>Python Self-Evaluation Form</title>
    <style>
    	{% for stage in stages %}
		#stage_{{ stage.id }}:checked ~ #tab_stage_{{ stage.id }} {
		    display: block; 
		}
		{% endfor %}
    </style>
</head>

<body>
<div class="wrapper">

    <header class="header">
    <div id="centr">
    	<div class="containerleft">
    		<h1>Soft<b>Serve</b></h1>
    		<h2><small>Python Self-Evaluation Form</small></h2>
    	</div>
    	<div class="containerright">
    		<form class="login">
    			<input type="text" name="" placeholder="Login" required="">
    			<input type="password" name="" placeholder="Password" required="">
    			<input type="submit" name="" value="Sign In">
    		</form>   		
    	</div>
    </div>
    </header>

    <main class="main">
		<div class="tabs">
		<form method="POST" class="record" action="">
		{% csrf_token %}
    		{% for department in departments %}
    		{% if forloop.first %}
    		<input type="radio" name="set_Department" value="{{ department }}" id="set_{{ department }}" checked>
    		{% else %}
    		<input type="radio" name="set_Department" value="{{ department }}" id="set_{{ department }}">
    		{% endif %}
    		<label for="set_{{ department }}">{{ department }}</label>
    		{% endfor %}
    		
    		{% for department in departments %}
    		<div id="tab_{{ department }}" class="stage">
    			{% for stage in stages %}
				{% if stage.department == department %}
					{% if forloop.first %}
					<input type="radio" name="set_{{ department }}" value="{{ stage.id }}" id="stage_{{ stage.id }}" checked>
					{% else %}
					<input type="radio" name="set_{{ department }}" value="{{ stage.id }}" id="stage_{{ stage.id }}">
					{% endif %}
					<label for="stage_{{ stage.id }}">{{ stage.name }}</label>
				{% endif %}
	        	{% endfor %}
	        
	        	{% for stage in stages %}
				{% if stage.department == department %}
				<div id="tab_stage_{{ stage.id }}" class="row"> 
					<div id="head_row_{{ stage.id }}" class="row">
					{% if department == 'Activities' %}
					<p id="head_col_1_{{ stage.id }}" class="col1 head">Activity</p>
					{% else %}
					<p id="head_col_1_{{ stage.id }}" class="col1 head">Skill</p>
					{% endif %}
					<p id="head_col_2_{{ stage.id }}" class="col2 head">Like to do, Y/N</p>
					<p id="head_col_3_{{ stage.id }}" class="col3 head">Self estimate, Grade</p>
					</div>

					{% for question in questions %}
	                {% if question.stage_id == stage.id %}
	                <div id="table_row_{{ question.id }}"class="row lightning">
		                {% if question.tooltip == None %}
		                <p id="question_{{ question.id }}" class="row col1">{{ question.title }}</p>
		                {% else %}
		                <p id="question_{{ question.id }}" class="row col1" title="{{ question.tooltip }}">{{ question.title }}</p>
		                {% endif %}
		                
		                {% for answer in answers %}
			                
			                {% if answer.question_id == question.id %}
			                <p id="like_{{ question.id }}" class="row col2">
				                {% if answer.like == True %}
				                	<input type="radio" name="set_like_{{ question.id }}" value="True" id="set_YES_{{ question.id }}" class="row" checked>
				                {% else %}
									<input type="radio" name="set_like_{{ question.id }}" value="True" id="set_YES_{{ question.id }}" class="row">
				                {% endif %}
				                <label for="set_YES_{{ question.id }}" class="row like">YES</label>
								
								{% if answer.like == False %}
									<input type="radio" name="set_like_{{ question.id }}" value="False" id="set_NO_{{ question.id }}" class="row " checked>
								{% else %}
									<input type="radio" name="set_like_{{ question.id }}" value="False" id="set_NO_{{ question.id }}" class="row ">
								{% endif %}
								<label for="set_NO_{{ question.id }}" class="row like">NO</label>
							</p>
							<p id="grade_{{ question.id }}" class="row col3">
			                {% for grade in grades %}
			                	{% if answer.grade_id == grade.id %}
			                		<input type="radio" name="set_grade_{{ question.id }}" value="{{ grade.id }}" id="set_{{ grade.name }}_{{ question.id }}" class="row" checked>
			                	{% else %}
									<input type="radio" name="set_grade_{{ question.id }}" value="{{ grade.id }}" id="set_{{ grade.name }}_{{ question.id }}" class="row">
								{% endif %}
								<label for="set_{{ grade.name }}_{{ question.id }}" class="row" title="{{ grade.name }}">{{ grade.name|first }}</label>
							{% endfor %}
							 </p>
			                {% endif %}
		                {% endfor %}
		            </div>
	                {% endif %}
	                {% endfor %}
				 </div>				
				{% endif %}
	        	{% endfor %}
	        </div>
    		{% endfor %}
    	<input type="submit" name="" value="Send All">
    	</form>
    	</div>
    </main>

    <footer class="footer">
    	<div>
    		<p>Soft<b>Serve</b> 2019</p>
    	</div>
    </footer>

</div>
</body>
</html>