{% extends "index.html" %}

{% block style %}
<style>
    {% for stage in stages %}
        #stage_{{ stage.id }}:checked ~ #tab_stage_{{ stage.id }} {
            display: block; 
        }
        #label_txt_{{ stage.id }} {
            display: none;
        }
        /*#stage_{{ stage.id }}:checked ~ #label_num_{{ stage.id }} {
            display: none;
        }
        #stage_{{ stage.id }}:checked ~ #label_txt_{{ stage.id }} {
            display: block;
            width: auto;
        }*/
    {% endfor %}
</style>
{% endblock %}