<style>
    {% for stage in stages %}
        #stage_{{ stage.id }}:checked ~ #tab_stage_{{ stage.id }} {
            display: block; 
        }
        #label_txt_stage_{{ stage.id }} {
            display: none;
        }
    {% endfor %}    
    .hidden {
		color: navy;
		text-align: center;
	}
    #rad_hidden {
        display: none;
    }
    #tab_set_Activities,
	#tab_set_Skills {
		display: none;
		padding: 10px;
		border: 1px solid navy;
	}
	#set_Activities:checked ~ #tab_set_Activities,
	#set_Skills:checked ~ #tab_set_Skills { 
		display: block; 
	}
    
</style>