{% extends "index.html" %}
{% load static %}

{% block title %}{{ user_name }} | PSEF{% endblock %}

{% block style %}
	{% include "formapp/style.html" %}
{% endblock %}

{% block login %}
    <form class="login" method="POST">
    {% csrf_token %}
        <input type="radio" name="log_out" value="log_out" id="rad_hidden">
        <label for="rad_hidden" class="hidden">You are logged in as</label>
        <h2><strong>{{ user_name }}</strong></h2> 
        <input type="submit" name="" value="Sign Out">
    </form>  
    {% endblock %}

{% block main %}
<div class="tabs">
	<form method="POST" class="record" action="">
	{% csrf_token %}
    {% include "formapp/department.html" %}

		<input type="submit" name="" value="Send All">
	</form>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
{% endblock %}