{% extends "index.html" %}

{% block style %}
<style>
    {% for stage in stages %}
        #stage_{{ stage.id }}:checked ~ #tab_stage_{{ stage.id }} {
            display: block; 
        }
        #label_txt_{{ stage.id }} {
            display: none;
        }
        .hidden {
			color: navy;
			text-align: center;
		}
        #rad_hidden {
        	display: none;
        }
    {% endfor %}
</style>
{% endblock %}

{% block login %}
    <form class="login" method="POST">
    {% csrf_token %}
        <input type="radio" name="log_out" value="log_out" id="rad_hidden">
        <label for="rad_hidden" class="hidden">You are logged in as</label>
        <h2><strong>{{ user_name }}</strong></h2> 
        <input type="submit" name="" value="Sign Out">
    </form>  
    {% endblock %}

{% block main %}
<div class="tabs">
<form method="POST" class="record" action="">
{% csrf_token %}
    {% for department in departments %}
    {% if forloop.first %}
    <input type="radio" name="set_Department" value="{{ department }}" id="set_{{ department }}" checked>
    {% else %}
    <input type="radio" name="set_Department" value="{{ department }}" id="set_{{ department }}">
    {% endif %}
    <label for="set_{{ department }}">{{ department }}</label>
    {% endfor %}
    {% for department in departments %}
    <div id="tab_{{ department }}" class="stage">
    	{% for stage in stages %}
		{% if stage.department == department %}
			{% if forloop.first %}
			<input type="radio" name="set_{{ department }}" value="{{ stage.id }}" id="stage_{{ stage.id }}" checked>
			{% else %}
				{% if department == 'Skills' and stage.id == skills_first %}
	    			<input type="radio" name="set_{{ department }}" value="{{ stage.id }}" id="stage_{{ stage.id }}" class="stage_check" checked>
				{% else %}
					<input type="radio" name="set_{{ department }}" value="{{ stage.id }}" id="stage_{{ stage.id }}" class="stage_check">
				{% endif %}
			{% endif %}
				
			{% for index, value in stage_indexes.items %}
			{% if index == stage.id %}
				<label id="label_num_{{ stage.id }}" for="stage_{{ stage.id }}" class="label_num" value="{{ stage.name }}">{{ value }}</label>
				<p id="label_txt_{{ stage.id }}" for="stage_{{ stage.id }}" class="label_txt">{{ stage.name }}</p>
			{% endif %}
			{% endfor %}						
		{% endif %}
	    {% endfor %}
	        
	    {% for stage in stages %}
		{% if stage.department == department %}
		<div id="tab_stage_{{ stage.id }}" class="row"> 
			<div id="head_row_{{ stage.id }}" class="row">
			{% if department == 'Activities' %}
			<p id="head_col_1_{{ stage.id }}" class="col1 head">Activity</p>
			{% else %}
			<p id="head_col_1_{{ stage.id }}" class="col1 head">Skill</p>
			{% endif %}
			<p id="head_col_2_{{ stage.id }}" class="col2 head">Like to do, Y/N</p>
			<p id="head_col_3_{{ stage.id }}" class="col3 head">Self estimate, Grade</p>
			</div>

			{% for question in questions %}
	            {% if question.stage_id == stage.id %}
	            <div id="table_row_{{ question.id }}"class="row lightning">
		        {% if question.tooltip == None %}
		           	<p id="question_{{ question.id }}" class="row col1">{{ question.title }}</p>
		           	{% else %}
		           	<p id="question_{{ question.id }}" class="row col1" title="{{ question.tooltip }}">{{ question.title }}</p>
		           	{% endif %}
		                
		           	{% for answer in answers %}			                
			           {% if answer.question_id == question.id %}
			           <p id="like_{{ question.id }}" class="row col2">
				           	{% if answer.like == True %}
				           		<input type="radio" name="set_like_{{ question.id }}" value="True" id="set_YES_{{ question.id }}" class="row" checked>
				           	{% else %}
								<input type="radio" name="set_like_{{ question.id }}" value="True" id="set_YES_{{ question.id }}" class="row">
				           	{% endif %}
				           	<label for="set_YES_{{ question.id }}" class="row like">YES</label>
								
							{% if answer.like == False %}
								<input type="radio" name="set_like_{{ question.id }}" value="False" id="set_NO_{{ question.id }}" class="row " checked>
							{% else %}
								<input type="radio" name="set_like_{{ question.id }}" value="False" id="set_NO_{{ question.id }}" class="row ">
							{% endif %}
							<label for="set_NO_{{ question.id }}" class="row like">NO</label>
						</p>
						<p id="grade_{{ question.id }}" class="row col3">
			           		{% for grade in grades %}
			           		{% if answer.grade_id == grade.id %}
			           			<input type="radio" name="set_grade_{{ question.id }}" value="{{ grade.id }}" id="set_{{ grade.name }}_{{ question.id }}" class="row" checked>
			           		{% else %}
								<input type="radio" name="set_grade_{{ question.id }}" value="{{ grade.id }}" id="set_{{ grade.name }}_{{ question.id }}" class="row">
							{% endif %}
							<label for="set_{{ grade.name }}_{{ question.id }}" class="row" title="{{ grade.name }}">{{ grade.name|first }}</label>
							{% endfor %}
		 				</p>
			           	{% endif %}
		           	{% endfor %}
		       </div>
	           {% endif %}
	           {% endfor %}
		</div>				
		{% endif %}
		{% endfor %}
		{% block button %}
		    <button id="btn_prev_{{ department }}" class="button prev" action="">Previous</button>
		    <button id="btn_next_{{ department }}" class="button next" action="">Next</button>		    
		{% endblock %} 
	</div>   
 	{% endfor %}
<input type="submit" name="" value="Send All">
</form>
</div>
{% endblock %}