.stage { 
    width: 95%; 
    padding: 0px; 
    margin: 0px; 
    margin-left: 0;  /*Отступ слева */
    margin-right: 5%; /* Отступ справа */
}
.stage input {
    display:none;
    margin-top: 10px;
    float: left;

}
.stage div {
    display: none;
    padding: 10px;
    border: 1px solid navy;
}
.stage label {
    display: inline-block;
    width: 4%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    /*border-top-left-radius: 7px*/
    padding: 7px;
    margin: 0 -1px -1px 0;
    text-align: center;
    color: silver;
    border: 0px solid navy;
    cursor: pointer;
}
.stage input:checked + label {
    color: navy;
    font-weight:bold;
    border: 1px solid navy;
    border-bottom: 1px solid #FFFFFF;
    /*background: #FFFFFF;*/
}
